body{
    background-image:url('backimage.jpg');
    background-repeat:no-repeat;
}
#A_C_F{
    background-color: ghostwhite;
    border:5px;
    width:400px;
    margin:10vh auto 0 auto;
    border-radius:6px;
    padding:30px;
    font-family: 'poppins',sans-serif;
}
h1{
    text-align: center;
    font-family:arial;
    color: white;
    margin-top: 10vh;

}

form h2{
    text-align: center;
}
.input_field{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}
.input_field input{
    border-radius: 5px;
    padding:10px;
    border: groove 3px black;
}
.input_field label{
    text-align: left;
    margin-bottom: 1vh;

}
.input_field .error{
    text-align: left;
    color:red;
}
.input_field .success input{
    border-color: green;
}
.input_field .error input{
    border-color: red;
}
form button{
    padding: 10px;
    width:100%;
    background-color:darkblue ;
    border-radius: 7px;
    color:white;
    cursor: pointer;

}



